* {
  margin: 0;
  padding: 0;
}

body {
  font-family: monospace;
}

.nav__title {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav__item a {
  text-decoration: none;
  text-transform: uppercase;
}

.news__body {
  text-align: justify;
}

.newsletter h2 {
  font-size: 1.5rem;
}

.group input, .group button {
  font-size: 1rem;
}

.nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/*.nav__title{
    background-color: red;
}    
.nav__list{
    background-color: green;
}*/
.nav__list li {
  display: inline;
}

.main {
  display: grid;
  grid-template-columns: 75% 25%;
}

/*.aside {
    background-color: blue;
}*/
.main__news {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

/*.news{
    background-color: yellow;
    border-style: solid;   

}*/
img {
  width: 100%;
}

/*nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

main{
    display: grid;
    grid-template-columns: 75% 25%;
}

.main__news{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

 Container
==========================================================================

.container {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    @media (min-width: 768px) {
        .container {
        width: 750px;
        }
        }
    @media (min-width: 992px) {
        .container {
        width: 970px;
        }
        }  
    @media (min-width: 1200px) {
        .container {
        width: 1170px;
        }
        }  
    }
//* Row
/*==========================================================================

.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    }

//* Columns
/*==========================================================================

.col-xs-12 {
    grid-column: span 12
}
.col-xs-11 {
    grid-column: span 11;
}
.col-xs-10 {
    grid-column: span 10
}
.col-xs-9 {
    grid-column: span 9
}
.col-xs-8 {
    grid-column: span 8
}
.col-xs-7 {
    grid-column: span 7
}
.col-xs-6 {
    grid-column: span 6
}
.col-xs-5 {
    grid-column: span 5
}
.col-xs-4 {
    grid-column: span 4
}
.col-xs-3 {
    grid-column: span 3
}
.col-xs-2 {
    grid-column: span 2
}
.col-xs-1 {
    grid-column: span 1
}

@media (min-width: 768px) {
    .col-sm-12 {
        grid-column: span 12
    }
    .col-sm-11 {
        grid-column: span 11;
    }
    .col-sm-10 {
        grid-column: span 10
    }
    .col-sm-9 {
        grid-column: span 9
    }
    .col-sm-8 {
        grid-column: span 8
    }
    .col-sm-7 {
        grid-column: span 7
    }
    .col-sm-6 {
        grid-column: span 6
    }
    .col-sm-5 {
        grid-column: span 5
    }
    .col-sm-4 {
        grid-column: span 4
    }
    .col-sm-3 {
        grid-column: span 3
    }
    .col-sm-2 {
        grid-column: span 2
    }
    .col-sm-1 {
        grid-column: span 1
    }
    }

@media (min-width: 992px) {
    .col-md-12 {
        grid-column: span 12
    }
    .col-md-11 {
        grid-column: span 11;
    }
    .col-md-10 {
        grid-column: span 10
    }
    .col-md-9 {
        grid-column: span 9
    }
    .col-md-8 {
        grid-column: span 8
    }
    .col-md-7 {
        grid-column: span 7
    }
    .col-md-6 {
        grid-column: span 6
    }
    .col-md-5 {
        grid-column: span 5
    }
    .col-md-4 {
        grid-column: span 4
    }
    .col-md-3 {
        grid-column: span 3
    }
    .col-md-2 {
        grid-column: span 2
    }
    .col-md-1 {
        grid-column: span 1
    }
    }            

@media (min-width: 1200px) {
    .col-lg-12 {
        grid-column: span 12
    }
    .col-lg-11 {
        grid-column: span 11;
    }
    .col-lg-10 {
        grid-column: span 10
    }
    .col-lg-9 {
        grid-column: span 9
    }
    .col-lg-8 {
        grid-column: span 8
    }
    .col-lg-7 {
        grid-column: span 7
    }
    .col-lg-6 {
        grid-column: span 6
    }
    .col-lg-5 {
        grid-column: span 5
    }
    .col-lg-4 {
        grid-column: span 4
    }
    .col-lg-3 {
        grid-column: span 3
    }
    .col-lg-2 {
        grid-column: span 2
    }
    .col-lg-1 {
        grid-column: span 1
    }
    }
    */
.nav {
  padding: 1vw;
  border-bottom: 1px solid gray;
}

.nav__list {
  text-align: right;
}

.nav__input {
  border-radius: 1.875rem;
}

.nav__item {
  display: inline;
}

h2 {
  margin-bottom: 0.6vw;
}

.main {
  margin: 0 5vw;
  margin-top: 0.6vw;
}

.news {
  display: inline-block;
  cursor: pointer;
  margin: 1vw;
}

.aside {
  margin-left: 5vw;
  float: right;
}

.aside__about {
  border-bottom: 1px solid gray;
}
.aside__about p {
  margin-bottom: 1vw;
}

.aside__tags {
  border-bottom: 1px solid gray;
  text-align: right;
  padding-bottom: 0.6vw;
}
.aside__tags ul {
  padding: 0;
}
.aside__tags ul li {
  background-color: steelblue;
  color: white;
  display: inline;
}
.aside__tags h2 {
  margin-top: 0.6vw;
  text-align: left;
}

.aside__news * {
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
}

.newsletter {
  background-color: #f2f4f5;
  text-align: center;
  margin-top: 5vw;
  padding: 4vw;
}

.group input,
.group button {
  display: inline-block;
  border-width: 0;
}

.group button {
  background-color: coral;
  color: white;
}

.footer {
  padding: 1vw;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
